/* This file should contain whatever stylistic changes you want to make for YOUR 
   drop down menus. Don't change ".dropDown .show" or ".dropDown .hide" or else 
   probably you'll ruin the hide/show functionality of the drop down framework code.
*/



.dropDown {
    background-color: rgb(218, 226, 162);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color:rgb(34, 159, 67)
}

.dropDown:hover{
    background-color: rgb(218, 226, 162);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 17, 128, 0.5);
    /* Change mouse pointer when the user hovers over a dropDown element */
    cursor: pointer;
    text-decoration: underline;
}

.dropDown .dropContent a {
    color: rgb(22, 165, 213);
}

.dropDown .dropContent a:hover {
    color: rgb(214, 28, 44);
}

.dropDown .dropContent {
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 17, 128, 0.5);
    /* position absolute aligns with its 1st non static parent (.dropDown)  */

}


